
@{
    ViewBag.Title = "Department Master";
    Layout = "~/Views/Shared/SubTheme.cshtml";
}

<style>
    .margin-top-05 {
        margin-top: 0.5em;
    }

    .margin-top-10 {
        margin-top: 1.0em;
    }

    .margin-top-15 {
        margin-top: 1.5em;
    }

    .margin-top-20 {
        margin-top: 2.0em;
    }

    .margin-top-25 {
        margin-top: 2.5em;
    }

    .margin-top-30 {
        margin-top: 3.0em;
    }
</style>
@*<h2>DepartmentMaster</h2>*@
<div>
    @using (Html.BeginForm("DepartmentMaster", "Home", FormMethod.Post))
    {
        <div class="container top5">
            <div class="row margin-top-05">
                <div class="pt-md-2 pl-md-3 col-md-12 col-xs-12">
                    <div class="col-md-3 col-xs-3 inner">Department Code :</div>
                    <div class="col-md-3 col-xs-3 inner">
                        @*<input id="txtCode" type="text" />*@
                        <input name="txtCode" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row margin-top-05">
                <div class="pt-md-2 pl-md-3 col-md-12 col-xs-12">
                    <div class="col-md-3 col-xs-3 inner">Department Name :</div>
                    <div class="col-md-3 col-xs-3 inner">
                        <input name="txtName" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row margin-top-05">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

